@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }

body{
    background-color: #0f0f0f;
    background-image: linear-gradient(315deg, #111213 0%, #151516 74%);
    height: 789px;
}

*{
    font-family: 'Poppins', sans-serif;
}

.containerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 80px;
    background-color: #0c0c1b;
    box-shadow: #36344f 1px 2px 13px 0px;
}

.cole{
    font-family: fantasy;
    color: #7122FA;
}
.verse{
    font-family: fantasy;
    color: #9b62ff;
}

.whatToDo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px 0px 0px;
    font-size: 40px;
    font-weight: 600;
    background: -webkit-linear-gradient(#7122FA, #a977ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.containerButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0px 0px 0px;
    column-gap: 120px;
}

.list{
    border: none;
    height: 60px;
    width: 200px;
    background-color: #7122FA;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#9151ff , #9151ff );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}
.list:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

.sell{
    border: none;
    height: 60px;
    width: 200px;
    background-color: #7122FA;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#9151ff , #9151ff );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}
.sell:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

.voltar{
    position: absolute;
    border: none;
    margin: 12px 0px 0px 10px;
    height: 30px;
    width: 95px;
    background-color: #d91919;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.voltarAddAndSell:hover{
    background-color: #ff0000;
}

.containerNeon{
    display: flex;
    justify-content: center;
}

.list{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: #7122FA 0.125em solid;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 #7122FA, 0 0 0.5em 0 #7122FA;
    position: relative;
}

.list::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background: #7122FA;
    top: 110%;
    left: 48px;
    width: 50%;
    height: 50%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}
.list:hover::before,
.list:focus::before {
  opacity: 1;
}
.list:hover::after,
.list:focus::after {
  opacity: 1;
}


.sell{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: #7122FA 0.125em solid;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 #7122FA, 0 0 0.5em 0 #7122FA;
    position: relative;
}

.sell::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background: #7122FA;
    top: 110%;
    left: 48px;
    width: 50%;
    height: 50%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}
.sell:hover::before,
.sell:focus::before {
  opacity: 1;
}
.sell:hover::after,
.sell:focus::after {
  opacity: 1;
}