@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0f0f0f;
    background-image: linear-gradient(315deg, #111213 0%, #151516 74%);
    height: 1130px;
    font-family: 'Poppins', sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.containerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 80px;
    background-color: #0c0c1b;
    box-shadow: #36344f 1px 2px 13px 0px;
}

.cole{
    font-family: fantasy;
    color: #7122FA;
}
.verse{
    font-family: fantasy;
    color: #9b62ff;
}

.voltarAddAndSell{
    position: absolute;
    border: none;
    margin: 12px 0px 0px 10px;
    height: 30px;
    width: 62px;
    background-color: #d91919;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.voltarAddAndSell:hover{
    background-color: #ff0000;
}

.editing{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin: 35px 0px 0px 0px;
    background: -webkit-linear-gradient(#7122FA, #a977ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}