
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0f0f0f;
    background-image: linear-gradient(315deg, #111213 0%, #151516 74%);
    height: 1130px;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.containerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 80px;
    background-color: #0c0c1b;
    box-shadow: #36344f 1px 2px 13px 0px;
}

.cole{
    font-family: fantasy;
    color: #7122FA;
}
.verse{
    font-family: fantasy;
    color: #9b62ff;
}

.voltarAddAndSell{
    position: absolute;
    border: none;
    margin: 12px 0px 0px 10px;
    height: 30px;
    width: 62px;
    background-color: #d91919;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.voltarAddAndSell:hover{
    background-color: #ff0000;
}


h2{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin: 35px 0px 0px 0px;
    color: #7122FA;
}

img{
    height: 340px;
    width: 343px;
    border-radius: 6px;
    margin: -60px 0px 0px 0px;
}

input[type="file"]{
    display: none;
}

label{
    padding: 20px 10px;
    width: 200px;
    background: linear-gradient(
        to bottom right, #403F44, #1E1B32
    );
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    transition: 1s;
}

label:hover{
    background: linear-gradient(
        to bottom right, #515055, #2c293d
    );
}

.inputs{
    display: grid;
    align-items: center;
    margin: 16px 0px 0px 40px;
}

#containerModal{
    margin: 2px 0px 0px 2px;
    display: flex;
    justify-content: center;
    -webkit-animation: go-back 0.6s;
    animation: go-back 1s;
    height: 369px;
    width: 788px;
}

@keyframes go-back {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(0px);
    }
  } 

.modal{
    background-image: repeating-linear-gradient( -45deg, #181313 0px, #000000 20px, #000000 20px, #0e0e12 40px );
    width: 829px;
    height: 360px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.containerRodar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodar{
    width: 792px;
    height: 365px;
    margin: 0px 0px 0px 320px;
    position: relative;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
}
.rodar::before{
    content: "";
    margin: 160px 0px 0px -124px;
    background-image: conic-gradient(#7122FA 20deg, transparent 120deg);
    width: 1100px;
    height: 105px;
    position: absolute;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}
.rodar::after{
    content: "";
    background-image: repeating-linear-gradient( -45deg, #181313 0px, #000000 20px, #000000 20px, #0e0e12 40px );
    width: 99%;
    height: 99%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    position: absolute;
    margin: 2px 0px 0px 4px;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-370deg);
    }
}

.containerUpload{
    display: flex;
    align-items: center;
    margin: 65px 0px 0px 100px;
}

.name{
    background-color: #192633;
    margin: 5px 0px 0px 0px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    max-width: 100%;
    outline: 0px;
    padding: 0px 16px;
    width: 330px;
    font-size: 20px;
    height: 48px;
    line-height: 21px;
    transition: 0.5s;
}
.name:hover{
    background-color: #24313f;
    border: 1px solid #221515;
}

.price{
    background-color: #192633;
    margin: 6px 0px 0px 0px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    max-width: 100%;
    outline: 0px;
    padding: 0px 16px;
    width: 330px;
    font-size: 20px;
    height: 48px;
    line-height: 21px;
    transition: 0.5s;
}
.price:hover{
    background-color: #24313f;
    border: 1px solid #221515;
}

.itemName{
    color: white;
    font-size: 14px;
    margin: 8px 0px 0px -621px;
    font-size: 20px;
}
.itemPrice{
    color: white;
    margin: 8px 0px 0px -674px;
    font-size: 20px;
}

.fa-image{
    color: white;
    position: absolute;
    margin: 20px 0px 0px 15px;
}

.sendNFT{
    margin: -46px 0px 0px 140px;
    border: none;
    height: 40px;
    width: 120px;
    background: #7ab926;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.2s;
    position: absolute;
}
.sendNFT:hover{
    background: #8ecc3c;
}

.savingNFT{
    margin: 0px 0px 20px 15px;
    border: none;
    height: 40px;
    width: 120px;
    background: #7122FA;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.2s;
}
.savingNFT:hover{
    background: #9659ff;
}


.fa-download{
    position: absolute;
    color: white;
    margin: 10px 0px 0px 25px;
}

#SavedNFT{
    display: flex;
    column-gap: 0px;
    min-width: 100%;
    justify-content: center;
    list-style: none;
    column-gap: 20px;
}

.container{
    display: flex;
    justify-content: center;
    margin: 0px 0px 15px 10px;
    align-items: center;
    border: 2px solid #2d1c1c;
    height: 405px;
    border-radius: 17px;
    position: relative;
}
.container:hover{
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
    box-shadow: #040303 0px 1px 3px 1px;
}

.dadosInputs{
    position: absolute;
    bottom: 9px;
    left: 3%;
    font-size: 20px;
    color: white;
}

.ladoALado{
    display: flex;
    Flex-wrap: wrap;
}

.containerButtonEdit{
    width: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 340px 0px 0px 0px;
}

.editButton{
    background: transparent;
    margin: 6px 14px 0px 0px;
    border: none;
    height: 43px;
    width: 371px;
    color: #796868;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 4px 0px 3px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 57px;
    cursor: pointer;
}

.vendido{
    background-color: transparent;
    height: 340px;
    width: 340px;
    position: absolute;
    border-radius: 10px;
    margin: -60px 0px 0px 0px;
    font-size: 50px;
    color: transparent;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.vendido:hover{
    background-color: #ffffff8c;
    height: 340px;
    width: 340px;
    margin: -60px 0px 0px 0px;
    position: absolute;
    border-radius: 10px;
    font-size: 50px;
    color: #4f6d14;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBalance{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0px 250px 0px 0px;
    position: relative;
}

.balance{
    color: #20ab20;
    position: absolute;
    margin: 120px 0px 0px 0px;
}

.produto{
    display: flex;
    justify-content: grid;
    margin: 0px 0px 15px 10px;
    align-items: center;
    border: 2px solid #2d1c1c;
    width: 44vh;
    height: 405px;
    border-radius: 17px;
    position: relative;
}
.produto:hover{
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
    box-shadow: #040303 0px 1px 3px 1px;
}
.produtoinfos{
    position: absolute;
    bottom: 9px;
    left: 3%;
    font-size: 20px;
    color: white;
}

.containerProdutos{
    flex-wrap: wrap;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.dadosInputs{
    position: absolute;
    bottom: 9px;
    left: 3%;
    font-size: 20px;
    color: white;
}

.edit{
    color: #c19090;
    margin: 7px 0px -43px 288px;
    font-size: 30px;
    cursor: pointer;
}

