<html>
  <div class="containerLogo">
    <div class="cole">Cole</div>
    <div class="verse">Verse</div>
  </div>
  
  <h2>Listing an NFT</h2>
  
  
  <img *ngIf="teste == 1" [src]="imageURL" alt="">
  <form action="">
    <div>
      <label *ngIf="teste != 1" for="arquivo">Choose</label>
      <input type="file" name="arquivo" id="arquivo" (change)="mostrarImagem($event)">
    </div>
  </form>
  <br />
  <button class="voltarAddAndSell" (click)="router.navigate(['/telaAddAndSell'])">Back</button>
</html>