<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BUY NFT</title>
</head>
<body>
  <button class="voltarAddAndSell" (click)="voltar()">BACK</button>
  
  <div class="containerLogo">
    <div class="cole">Cole</div>
    <div class="verse">Verse</div>
  </div>
  <h2>Buy an NFT</h2>
  <h2 class="av">Here're NFTs Available to buy!</h2>
  <div *NgFor let item of listaNFT>{{item.nome}} </div>
  <div id="SavedNFT">
    <div *ngIf="saidaDosInputs == 1" class="saidaInputs">
      <div class="ladoALado">
        <div *ngFor="let person of salvarDados, let i = index" class="container {{contArr[i]}}">
          <img [src]="person.imageURL" alt="">
          <div class="dadosInputs">
          <p> Name: {{ person.name }}</p>
          <p> Price: {{ person.price }}</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="containerProdutos">
    <div class="produto" *ngFor="let item of listaNFT">
        <img id="imgproduto" [src]=item.image alt="">
      <div class="produtoinfos">
        <div class="produtoname">Name:  {{item.nome}}</div>
        <div class="produtodesc">Price:  {{item.price}}</div>

        <div class="containerButton">
          <button class="BUY" (click)="comprarNFT()">Buy now</button>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
