
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

body{
    background-color: #0f0f0f;
    background-image: linear-gradient(315deg, #111213 0%, #151516 74%);
    height: 150vh;
}

*{
    font-family: 'Poppins', sans-serif;
}

.containerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 80px;
    background-color: #0c0c1b;
    box-shadow: #36344f 1px 2px 13px 0px;
}

.cole{
    font-family: fantasy;
    color: #7122FA;
}
.verse{
    font-family: fantasy;
    color: #9b62ff;
}

.first{
    display: flex;
    margin: 75px 0px 0px 15px;
    font-weight: 700;
    font-size: 23px;
    color: white;
}

.container{
    display: flex;
}

.easy{
    margin: 15px 0px 0px 8px;
    font-weight: bold;
    font-size: 20px;
    color: #7122FA;
}

.second{
    margin: 15px 0px 0px 120px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.container2{
    display: flex;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
    margin: -25px 0px 0px 96px;
    font-size: 17px;
    font-weight: 500;
    color: #646d75;
}

.wallet{
    margin: 45px 0px 0px 0px;
    color: #7122FA;
    font-weight: 700;
    cursor: pointer;
}

.mouse{
    cursor: pointer;
    height: 24px;
    width: 65px;
    position: absolute;
    margin: 0px 0px 0px 161px;
    transition: 0.5s;
}

.mouse:hover{
    background-color: rgb(24, 23, 23);
    height: 73px;
    width: 320px;
    position: absolute;
    border-radius: 19px;
    margin: 33px 0px 0px 6px;
}

.write{
    cursor: context-menu;
    position: absolute;
    width: 286px;
    margin: 21px 0px 0px 130px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.meta{
    height: 50px;
    margin: 0px 0px 0px 10px;
}

.metamask{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 15px;
}

.coin{
    height: 51px;
    margin: 0px 0px 0px 1px;
}

.coinbase{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 7px;
}
.walletC{
    height: 48px;
    margin: 0px 0px 0px 10px;
}

.walletconnect{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 17px;
}

.cubeMeta{
    border: #3f3b3b solid 1px;
    height: 50px;
    width: 450px;
    margin: 40px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.cubeMeta:hover{
    box-shadow: #7122fa 0px 0px 8px -1px;
}

.cubeCoin{
    border: #3f3b3b solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.cubeCoin:hover{
    box-shadow: #7122fa 0px 0px 8px -1px;
}

.cubeWallet{
    border: #3f3b3b solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.cubeWallet:hover{
    box-shadow: #7122fa 0px 0px 8px -1px;
}

.cubeFortmatic{
    border: #3f3b3b solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.cubeFortmatic:hover{
    box-shadow: #7122fa 0px 0px 8px -1px;
}

.fort{
    height: 35px;
    margin: 0px 0px 0px 17px;
}

.fortmatic{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 23px;
}

.cubeTrust{
    border: #3f3b3b solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.cubeTrust:hover{
    box-shadow: #7122fa 0px 0px 8px -1px;
}

.trust{
    height: 35px;
    margin: 0px 0px 0px 17px;
}

.trustwallet{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 23px;
}

.cubeBitski{
    border: #3f3b3b solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.cubeBitski:hover{
    box-shadow: #7122fa 0px 0px 8px -1px;
}

.bit{
    height: 35px;
    margin: 0px 0px 0px 17px;
}

.bitski{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 23px;
}

.here{
    margin: 45px 0px 0px 0px;
}


.ContainerLogin{
    display: block;
    justify-content: right;
    align-items: center;
    margin: -88px 0px 0px 960px;
    border: #211c1c solid 2px;
    width: 400px;
    border-radius: 10px;
    height: 500px;
    position: absolute;
}

.card{
    --x-pos: 0;
    --y-angle: calc(var(--x-pos) * 5deg);

    --y-pos: 0;
    --x-angle: calc(var(--y-pos) * 5deg);

    transform:
    perspetive(200px)
    rotateY(var(--y-angle))
    rotateX(var(--x-angle));
}

.barra{
    background-color: #7122FA;
    padding: 20px;
    border-radius: 8px;
    width: 398px;
    font-weight: 600;
    margin: -1px 199px 0px -1px;
    align-items: center;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    cursor: default;
}

.inputs{
    display: inline-grid;
    justify-content: center;
    align-items: center;
    height: 295px;
}

.texto{
    background-color: #140f0f;
    margin: 70px 0px 100px 17px;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(255 255 255);
    border: #251b1b solid 1px;
    max-width: 100%;
    outline: 0px;
    padding: 0px 16px;
    width: 362px;
    font-size: 18px;
    height: 48px;
    line-height: 21px;
    transition: 0.5s;
}
.texto:hover{
    border: 1px solid #7122FA;
}

.senha{
    background-color: #140f0f;
    margin: -45px 0px 100px 17px;
    border: #251b1b solid 1px;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(255 255 255);
    max-width: 100%;
    outline: 0px;
    padding: 0px 16px;
    width: 362px;
    font-size: 18px;
    height: 48px;
    line-height: 21px;
    transition: 0.5s;
}
.senha:hover{
    border: 1px solid #7122FA;
}

.password{
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0px 0px 0px 20px;
    font-size: 19px;
    font-weight: 100;
    color: #9b62ff;
}

.user{
    display: flex;
    align-items: center;
    position: absolute;
    margin: -210px 0px 0px 20px;
    font-size: 19px;
    font-weight: 100;
    color: #9b62ff;
}

.buttonLogin{
    margin: -45px 0px 0px 17px;
    align-items: center;
    background: #7122FA;
    border: 0px;
    border-radius: 8px;
    display: inline-flex;
    color: rgb(255, 255, 255);
    cursor: pointer;
    justify-content: center;
    outline: 0px;
    font-weight: 600;
    width: 362px;
    height: 48px;
    font-size: 14px;
    padding: 0px 24px;
    line-height: 24px;
    transition: 0.3s;
}
.buttonLogin:hover{
    background: #8741ff;
}

.google{
    margin: 15px 0px 0px 75px;
    align-items: center;
    background: rgb(255, 255, 255);
    border: 0px;
    border-radius: 8px;
    display: inline-flex;
    color: #6A6A6A;
    cursor: pointer;
    justify-content: center;
    outline: 0px;
    font-weight: 600;
    width: 250px;
    height: 48px;
    font-size: 14px;
    padding: 0px 24px;
    line-height: 24px;
    transition: 0.3s;
    box-shadow: rgb(66, 64, 64) 2px 4px 4px -4px;
}
.google:hover{
    box-shadow: rgb(71, 66, 66) 4px 5px 8px -3px;
}

.or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 0px;
    font-size: 17px;
    color: #8b6d6d;
}

.googleIMG{
    position: absolute;
    margin: 16px 0px 0px -245px;
}
