@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.containerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 105px;
    background-color: #0c0c1b;
    box-shadow: #36344f 1px 2px 13px 0px;
}

.cole{
    font-family: fantasy;
    color: #e1bfff;
}
.verse{
    font-family: fantasy;
    color: #7d7da9;
}

.first{
    display: flex;
    margin: 75px 0px 0px 15px;
    font-weight: 700;
    font-size: 23px;
    color: #04111D;
}

.container{
    display: flex;
}

.easy{
    margin: 15px 0px 0px 8px;
    font-weight: bold;
    font-size: 20px;
    color: #1868B7;
}

.second{
    margin: 15px 0px 0px 120px;
    font-size: 20px;
    font-weight: 500;
}

.container2{
    display: flex;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
    margin: -25px 0px 0px 96px;
    font-size: 17px;
    font-weight: 500;
    color: #646d75;
}

.wallet{
    color: #1868B7;
    font-weight: 700;
    cursor: pointer;
}

.mouse{
    cursor: pointer;
    height: 24px;
    width: 65px;
    position: absolute;
    margin: 0px 0px 0px 161px;
    transition: 0.5s;
}

.mouse:hover{
    background-color: rgb(24, 23, 23);
    height: 73px;
    width: 320px;
    position: absolute;
    border-radius: 19px;
    margin: 33px 0px 0px 6px;
}

.write{
    cursor: context-menu;
    position: absolute;
    width: 286px;
    margin: 21px 0px 0px 130px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.meta{
    height: 50px;
    margin: 0px 0px 0px 10px;
}

.metamask{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 15px;
}

.coin{
    height: 40px;
    margin: 0px 0px 0px 15px;
}

.coinbase{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 20px;
}
.walletC{
    height: 48px;
    margin: 0px 0px 0px 10px;
}

.walletconnect{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 17px;
}

.cubeMeta{
    border: #d3c5c5 solid 1px;
    height: 50px;
    width: 450px;
    margin: 78px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.cubeMeta:hover{
    box-shadow: #c1b2b2 0px 0px 6px 3px;
}

.cubeCoin{
    border: #d3c5c5 solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.cubeCoin:hover{
    box-shadow: #c1b2b2 0px 0px 6px 3px;
}

.cubeWallet{
    border: #d3c5c5 solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.cubeWallet:hover{
    box-shadow: #c1b2b2 0px 0px 6px 3px;
}

.cubeFortmatic{
    border: #d3c5c5 solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.cubeFortmatic:hover{
    box-shadow: #c1b2b2 0px 0px 6px 3px;
}

.fort{
    height: 35px;
    margin: 0px 0px 0px 17px;
}

.fortmatic{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 23px;
}

.cubeTrust{
    border: #d3c5c5 solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.cubeTrust:hover{
    box-shadow: #c1b2b2 0px 0px 6px 3px;
}

.trust{
    height: 35px;
    margin: 0px 0px 0px 17px;
}

.trustwallet{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 23px;
}

.cubeBitski{
    border: #d3c5c5 solid 1px;
    height: 50px;
    width: 450px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.cubeBitski:hover{
    box-shadow: #c1b2b2 0px 0px 6px 3px;
}

.bit{
    height: 35px;
    margin: 0px 0px 0px 17px;
}

.bitski{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 23px;
}

.ContainerLogin{
    display: block;
    justify-content: right;
    align-items: center;
    margin: 0px 0px 0px 900px;
}

.barra{
    background-color: #1868B7;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    font-weight: 600;
    margin: 0px 199px 0px 0px;
    align-items: center;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
}